<!DOCTYPE html>

<html>


<head>
	<meta charset="utf-8">
	<title>Admin Price Change Settings </title>
</head>
<body bgcolor="	#008080">

{{#if csrfError.length}}
{{#each}}
<h3 style="color: black;"> {{this}}</h3>
{{/each}}
{{/if}}

<center ><h1 style="color: red;"> {{pageTitle}}</h1></center>
<form method = "post" action = "/updatedStock">
	<center><h2>Input new price</h2></center>
	<center><input type="number" name="price" min="1" max = "1000"> </center>
	<br>
	<center><input type ="submit" value ="Change Price" ></center>
	<br>
	<center><input type ="hidden" name = "category" value ="{{category}}" ></center>
	<center><input type ="hidden" name = "shoe" value ="{{shoe}}"></center>
  <center><input type ="hidden" name = "code" value ="{{code}}"></center>
	<input type = "hidden" name ="token" value = "{{token}}">

</form>
<form method = "get" action = "/">
	<center><input type ="submit" value ="Back to home page" ></center>
</form>
</body>
</html>
